@model School_MS.Models.tblChapter

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>tblChapter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ChaptertName" class="control-label"></label>
                <input asp-for="ChaptertName" class="form-control" />
                <span asp-validation-for="ChaptertName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectID" class="control-label"></label>
                <select asp-for="SubjectID" class="form-control" asp-items="ViewBag.SubjectID"></select>
                <span asp-validation-for="SubjectID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
