@model School_MS.Models.tblQuestion

@{
    ViewData["Title"] = "Edit";
}



<h4 class="text-center">Edit the Questions</h4>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row col-md-12">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Chaptertid" class="control-label"></label>
                <select asp-for="Chaptertid" class="form-control" asp-items="ViewBag.Chaptertid"></select>
                <span asp-validation-for="Chaptertid" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="QuestionNo" class="control-label"></label>
                <input asp-for="QuestionNo" class="form-control" />
                <span asp-validation-for="QuestionNo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="QuestionName" class="control-label"></label>
                <input asp-for="QuestionName" class="form-control" />
                <span asp-validation-for="QuestionName" class="text-danger"></span>
            </div>
        </div>
    </div> <div class="row col-md-12">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="QuestionAnswer" class="control-label"></label>
            <input asp-for="QuestionAnswer" class="form-control" />
            <span asp-validation-for="QuestionAnswer" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <input type="submit" value="Edit Save" class="btn btn-primary" style="margin-top:35px;" />
        </div>
        </div>
        </div>
</form>
  

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
